.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content-container {
  place-items: center;
  height: calc(100vh - 60px); /* Adjust based on your navbar's height */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;  /* Space between cards */
  justify-content: center;
}

.content-container > .content {
  transform: translateY(-50.33%);
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    /* place-items: center; */
    background-color: #f5f5f5; /* optional background color */
}

form {
    width: 400px;
    background-color: #fff; /* optional background color */
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px; /* optional rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* optional shadow */
}

.form-group {
  margin-bottom: 10px;
}

.radio-group {
  display: flex; /* Use flexbox to align elements horizontally */
  align-items: center; /* Center align items vertically */
  gap: 10px; /* Add some spacing between radio buttons and labels */
}

label {
  display: block;
  margin-bottom: 3px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
}

.custom-link {
  color: black; /* Set your preferred color */
  text-decoration: none; /* Removes underline */
}

.custom-link:hover {
  color: purple; /* Color on hover */
  text-decoration: none; /* Adds underline on hover, if desired */
}

.card {
  background-color: #f9f9f9; /* Light gray background */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Simple shadow for depth */
  width: 200px; /* Adjust based on your preference */
  text-align: center;
}

/* Optional: Add hover effect */
.card:hover {
  background-color: #e6e6e6; /* Slightly darker background on hover */
  cursor: pointer;
}

.profilelarge {
  width: 100px;
  height: 100px;
  /* margin-right: 20px;
  margin-top: 10px; */
}

.profilesmall {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  /* margin-top: 10px; */
  border-radius: 50%; /* Makes the image circular */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
  gap: 10px;
  padding: 10px;
}

.band-card {
  background-color: #f5f5f5; /* Light gray background, or choose your color */
  border: 1px solid #ddd; /* A light border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px;
  /* text-align: center;  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.band-info {
  display: flex;
  align-items: center;
}

.band-name {
  /* Style for the band name */
  margin-right: 10px; /* Adds some space between the name and the image */
}

.band-link {
  color: inherit; /* Inherits the color from the band-card */
  text-decoration: none; /* Removes underline */
}

.band-link:hover {
  color: purple; /* Color change on hover */
}

.btn {
  padding: 8px 16px;
  border: solid 1px #666666;
  border-radius: 4px;
}

.btn-primary {
  background-color: #c4c8df;
}

.btn-primary:hover {
  background-color: #a9b0d5;
}
